%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => loc("[_1]'s encryption keys",$UserObj->Name)  &>
<& /Elements/Tabs &>

<& /Elements/ListActions, actions => \@results &>

% if ( $email ) {
<& /Admin/Elements/ShowKeyInfo, EmailAddress => $email &>
% } else {
<h2><% loc("User has empty email address") %></h2>
% }

<form action="<%RT->Config->Get('WebPath')%>/Admin/Users/Keys.html" method="post" enctype="multipart/form-data">
<input type="hidden" class="hidden" name="id" value="<% $UserObj->Id %>" />

% if (RT::Config->Get('GnuPG')->{Enable}) {
<&|/Widgets/TitleBox, title => loc('GnuPG private key') &>
<& /Widgets/Form/Select,
    Name         => 'PrivateKey',
    Description  => loc('Private Key'),
    Values       => \@potential_keys,
    CurrentValue => $UserObj->PrivateKey,
    DefaultLabel => loc('No private key'),
&>
</&>
% }

% if (RT::Config->Get('SMIME')->{Enable}) {
<&|/Widgets/TitleBox, title => loc('SMIME Certificate') &>
<textarea name="SMIMECertificate"><% $UserObj->SMIMECertificate || '' %></textarea>
</&>
% }

<& /Elements/Submit, Name => 'Update', Label => loc('Save Changes') &>
</form>

<%ARGS>
$id         => undef
$Update     => undef
</%ARGS>
<%INIT>
return unless RT->Config->Get('Crypt')->{'Enable'};

my @results;

my $UserObj = RT::User->new( $session{'CurrentUser'} );
$UserObj->Load( $id );
unless ( $UserObj->id ) {
    Abort( loc("Couldn't load user #[_1]", $id) );
}
$id = $ARGS{'id'} = $UserObj->id;

my @potential_keys;
my $email = $UserObj->EmailAddress;

if (RT::Config->Get('GnuPG')->{Enable}) {
    my %keys_meta = RT::Crypt->GetKeysForSigning( Signer => $email, Protocol => 'GnuPG' );
    @potential_keys = map $_->{'Fingerprint'}, @{ $keys_meta{'info'} || [] };

    $ARGS{'PrivateKey'} = $m->comp('/Widgets/Form/Select:Process',
        Name      => 'PrivateKey',
        Arguments => \%ARGS,
        Default   => 1,
    );

    if ( $Update ) {
        if (not $ARGS{'PrivateKey'} or grep {$_ eq $ARGS{'PrivateKey'}} @potential_keys) {
            if (($ARGS{'PrivateKey'}||'') ne ($UserObj->PrivateKey||'')) {
                my ($status, $msg) = $UserObj->SetPrivateKey( $ARGS{'PrivateKey'} );
                push @results, $msg;
            }
        } else {
            push @results, loc("Invalid key [_1] for address '[_2]'", $ARGS{'PrivateKey'}, $email);
        }
    }
}

if (RT::Config->Get('SMIME')->{Enable}) {
    if ( $Update and ($ARGS{'SMIMECertificate'}||'') ne ($UserObj->SMIMECertificate||'') ) {
        my ($status, $msg) = $UserObj->SetSMIMECertificate( $ARGS{'SMIMECertificate'} );
        push @results, $msg;
    }
}

</%INIT>
