%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => $title  &>
<& /Elements/Tabs &>

<& /Elements/ListActions, actions => \@actions &>

<form method="post" action="MyRT.html">
<input type="hidden" name="id" value="<% $id %>" />
<input type="hidden" name="Reset" value="1" />
<input type="submit" class="button" value="<%loc('Reset to default')%>">
</form>

<br />

% for my $pane (@panes) {
<&|/Widgets/TitleBox, title => loc('RT at a glance').': '.loc($pane->{Name}), bodyclass => "" &>
<& /Widgets/SelectionBox:show, self => $pane &></&>
<br />
% }

<%init>
my @actions;
my $UserObj = RT::User->new($session{'CurrentUser'});
$UserObj->Load($id) || Abort("Couldn't load user '" . ($id || '') . "'");
my $title = loc("RT at a glance for the user [_1]", $UserObj->Name);

if ($ARGS{Reset}) {
    my ($ok, $msg) = $UserObj->SetPreferences('HomepageSettings', {});
    push @actions, $ok ? loc('Preferences saved for user [_1].', $UserObj->Name) : $msg;
}

my ($default_portlets) = RT::System->new($session{'CurrentUser'})->Attributes->Named('HomepageSettings');
my $portlets  = $UserObj->Preferences('HomepageSettings', $default_portlets ? $default_portlets->Content  : {});

my %allowed_components = map {$_ => 1} @{ RT->Config->Get('HomepageComponents') };

my @items;
push @items, map {["component-$_", loc($_)]} sort keys %allowed_components;

my $sys = RT::System->new( RT::CurrentUser->new($UserObj) );
my @objs = ($sys);

push @objs, RT::SavedSearch->new( RT::CurrentUser->new( $UserObj ) )->ObjectsForLoading;

for my $object (@objs) {
    for ($m->comp("/Search/Elements/SearchesForObject", Object => $object)) {
        my ($desc, $loc_desc, $search) = @$_;
        my $SearchType = $search->Content->{'SearchType'} || 'Ticket';
        if ($object eq $sys && $SearchType eq 'Ticket') {
            push @items, ["system-$desc", $loc_desc];
        }
        else {
            my $oid = ref($object).'-'.$object->Id.'-SavedSearch-'.$search->Id;
            my $type = ($SearchType eq 'Ticket')
                ? 'Saved Search' # loc
                : $SearchType;
            push @items, ["saved-$oid", loc($type).": $loc_desc"];
        }
    }
}

my @panes = $m->comp(
    '/Admin/Elements/ConfigureMyRT',
    panes  => ['body', 'sidebar'],
    Action => "MyRT.html?id=$id",
    items => \@items,
    current_portlets => $portlets,
    OnSave => sub {
        my ( $conf, $pane ) = @_;
        my ($ok, $msg) = $UserObj->SetPreferences( 'HomepageSettings', $conf );
        push @actions, $ok ? loc('Preferences [_1] for user [_2].', $pane, $UserObj->Name) : $msg;
    }
);

$m->comp( '/Widgets/SelectionBox:process', %ARGS, self => $_ )
    for @panes;

</%init>
<%ARGS>
$id => undef
</%ARGS>
