%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => $title &>
<& /Elements/Tabs
&>
<& /Elements/ListActions, actions => \@actions &>
<h1><&|/l&>Select queues to be displayed on the "RT at a glance" page</&></h1>
<form method="post" action="QueueList.html" name="Preferences">
<ul>
% for my $queue (@queues) {
<li><input type="checkbox" class="checkbox" id="Want-<%$queue->Name%>" name="Want-<%$queue->Name%>" value="1"
% unless ($unwanted->{$queue->Name}) {
checked="checked"
% }
/>
<label for="Want-<%$queue->Name%>"><%$queue->Name%><% $queue->Description ? ': '.$queue->Description : '' %></label>
</li>
% }
</ul>
<& /Elements/Submit,
    Caption             => loc("Save Changes"),
    Label               => loc('Save'),
    Name                => 'Save',
    Reset               => 1,
    CheckAll            => 1,
    ClearAll            => 1,
    CheckboxNameRegex   => '/^Want-/',
    &>

</form>

<%INIT>
my @actions;
my $title = loc("Customize").' '.loc("Queue list");
my $user = $session{'CurrentUser'}->UserObj;
my $unwanted = $user->Preferences('QueueList', {});
my $Queues = RT::Queues->new($session{'CurrentUser'});
$Queues->UnLimit;

my $right = 'ShowTicket';
$m->callback(
    CallbackName    => 'ModifyQueues',
    Queues          => \$Queues,
    Right           => \$right,
    Unwanted        => $unwanted,
);

my @queues = grep { $right ? $_->CurrentUserHasRight($right) : 1 } @{$Queues->ItemsArrayRef};

if ($ARGS{'Save'}) {
    for my $queue (@queues) {
        if ($ARGS{"Want-".$queue->Name}) {
            delete $unwanted->{$queue->Name};
        }
        else {
            ++$unwanted->{$queue->Name};
        }
    }

    my ($ok, $msg) = $user->SetPreferences('QueueList', $unwanted);
    push @actions, $ok ? loc('Preferences saved.') : $msg;

    # Clear queue caches
    if ( $ok ){
        # Clear for 'CreateTicket'
        my $cache_key = GetObjectSessionCacheKey( ObjectType => 'RT::Queue',
            CheckRight => 'CreateTicket', ShowAll => 0 );
        delete $session{$cache_key};

        # Clear for 'ShowTicket'
        $cache_key = GetObjectSessionCacheKey( ObjectType => 'RT::Queue',
            CheckRight => 'ShowTicket', ShowAll => 0 );
        delete $session{$cache_key};
    }
}

</%INIT>
