%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => loc("Search Preferences") &>
<& /Elements/Tabs &>
<& /Elements/ListActions, actions => \@actions &>

<form method="post" action="SearchOptions.html">
<input type="hidden" class="hidden" name="Format" value="<%$Format%>" />
    <& /Search/Elements/DisplayOptions, %ARGS, 
            Format=> $Format, 
            AvailableColumns => $AvailableColumns,  
            CurrentFormat => $CurrentFormat, 
            RowsPerPage => $RowsPerPage, 
            OrderBy => $OrderBy, 
            Order => $Order &>
<& /Elements/Submit, Name => 'SavePreferences', Label => loc('Save Changes') &>
</form>
<form>
% if ($session{'CurrentUser'}->UserObj->Preferences("SearchDisplay")) {
<& /Elements/Submit, Name => 'Reset', Label => loc('Restore Default Preferences')&>
% }
</form>
<%INIT>
my @actions;

# If we're saving search preferences, do that now
$Order = join '|', grep defined && /\S/, (ref $Order)? @{$Order}: $Order;
$OrderBy = join '|', grep defined && /\S/, (ref $OrderBy)? @{$OrderBy}: $OrderBy;

$Order       = (ref $Order   ? join('|',grep {/\S/} @{$Order})   : $Order);
$OrderBy     = (ref $OrderBy ? join('|',grep {/\S/} @{$OrderBy}) : $OrderBy);
if ($ARGS{'SavePreferences'}) {
    my ($ok, $msg) = $session{'CurrentUser'}->UserObj->SetPreferences("SearchDisplay",
    {
       Format      => $Format,
       Order       => $Order,
       OrderBy     => $OrderBy,
       RowsPerPage => $RowsPerPage,
    });
    push @actions, $ok ? loc("Preferences saved.") : $msg;
}

# If we're restoring default preferences, delete the user's changes

if ($Reset) {
    my ($ok, $msg) = $session{'CurrentUser'}->UserObj->DeletePreferences("SearchDisplay");
    push @actions, $ok ? loc("Default preferences restored.") : $msg;
}

# Read from user preferences
my $prefs = $session{'CurrentUser'}->UserObj->Preferences("SearchDisplay") || {};

$Format      ||= $prefs->{'Format'};
$Order       ||= ($prefs->{'Order'} || RT->Config->Get('DefaultSearchResultOrder'));
$OrderBy     ||= ($prefs->{'OrderBy'} || RT->Config->Get('DefaultSearchResultOrderBy'));
($RowsPerPage =  defined( $prefs->{'RowsPerPage'} ) ? $prefs->{'RowsPerPage'}  : 50) unless defined ($RowsPerPage);

my ( $AvailableColumns, $CurrentFormat );
( $Format, $AvailableColumns, $CurrentFormat ) = $m->comp(
    '/Search/Elements/BuildFormatString',
    %ARGS, Format => $Format
);

</%INIT>

<%ARGS>
$Format => undef
$Description => undef
$Order => undef
$OrderBy => undef
$RowsPerPage => undef
$Reset => undef
</%ARGS>
