%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => $title &>
<& /Elements/Tabs &>

<& /Elements/ListActions, actions => \@results &>

<h2><&|/l, $session{'CurrentUser'}->Name &>Active tickets for [_1]</&></h2>
<form method="post" action="MyDay.html">
<table width="100%" cellpadding="0" cellspacing="0" class="myday">
% while ( my $Ticket = $Tickets->Next()) {
% $i++;
% my $class =  $i % 2  ? 'class="evenline"' : 'class="oddline"';
<tr <%$class|n%>><td colspan="2"><h2><a
href="<%RT->Config->Get('WebPath')%>/Ticket/Display.html?id=<%$Ticket->Id%>"><%$Ticket->Id%>:
<%$Ticket->Subject%></a></h2></td></tr>
<tr <%$class|n%>><td><span class="label"><&|/l&>Worked</&>:</span><input size="3" name="UpdateTimeWorked-<%$Ticket->Id%>" /> <&|/l&>minutes</&>
</td>
<td rowspan="2"><span class="label"><&|/l&>Comments</&>:<br /></span><textarea name="UpdateContent-<%$Ticket->Id%>" rows="5"
cols="60"></textarea></td></tr>
<tr <%$class|n%>>
<td><span class="label"><&|/l&>Status</&>:</span> <& /Ticket/Elements/SelectStatus, Name=> 'UpdateStatus-'.$Ticket->Id, TicketObj => $Ticket &></td>
                  </tr>

% }
</table>
<& /Elements/Submit, Label => loc('Record all updates') ,  Reset => 1, ResetLabel => loc('Clear')&>
</form>
</html>
<%INIT>
my $title = loc("What I did today");

my $i = 0;
my @results;
foreach my $arg ( keys %ARGS ) {
    next unless ( $arg =~ /^UpdateStatus-(\d*)$/ );
    my $id     = $1;
    my $ticket = LoadTicket($id);
    next unless ( $ticket->id );
    if ( my $content = $ARGS{'UpdateContent-'.$id} ) {
        my ( $val, $msg ) = $ticket->Comment(
            Content   => $content,
            TimeTaken => $ARGS{ 'UpdateTimeWorked-' . $id }
        );
        push @results, loc( "Ticket [_1]: [_2]", $id, $msg );
    } elsif ( my $worked = $ARGS{ 'UpdateTimeWorked-' . $id } ) {
        my ( $val, $msg ) = $ticket->SetTimeWorked( $worked + $ticket->TimeWorked );
            push @results, loc( "Ticket [_1]: [_2]", $id, $msg );
    }

    if ( my $status = $ARGS{ 'UpdateStatus-' . $id } ) {
        if ( $status ne $ticket->Status ) {
            my ( $val, $msg ) = $ticket->SetStatus($status);
            push @results, loc( "Ticket [_1]: [_2]", $id, $msg );

        }
    }

}

my $Tickets = RT::Tickets->new($session{'CurrentUser'});
$Tickets->LimitOwner(VALUE => $session{'CurrentUser'}->Id);
$Tickets->LimitToActiveStatus;
$Tickets->OrderBy ( FIELD => 'Priority', ORDER => 'DESC');


</%INIT>
