%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => loc("Admin queues") &>
<& /Elements/Tabs &>

<h1><%$caption%></h1>

<form method="post" action="<% RT->Config->Get('WebPath') %>/Admin/Queues/index.html">
% foreach my $field( qw(Format Rows Page Order OrderBy) ) {
%     next unless defined $ARGS{ $field } && length $ARGS{ $field };
<input type="hidden" name="<% $field %>" value="<% $ARGS{ $field } %>" />
% }

<select name="QueueField">
% foreach my $col (qw(Name Description CorrespondAddress CommentAddress Lifecycle SubjectTag)) {
<option <% $QueueField eq $col ? 'selected="selected"' : '' |n %> value="<% $col %>"><% loc($col) %></option>
% }
</select>
<& /Elements/SelectMatch, Name => 'QueueOp', Default => $QueueOp &>
<input size="8" name="QueueString" value="<% $QueueString %>" />
<br />

<input type="checkbox" class="checkbox" id="FindDisabledQueues" name="FindDisabledQueues" value="1" <% $FindDisabledQueues? 'checked="checked"': '' |n%> />
<label for="FindDisabledQueues"><&|/l&>Include disabled queues in listing.</&></label>
<div align="right"><input type="submit" class="button" value="<&|/l&>Go!</&>" /></div>
</form>

<p><&|/l&>Select a queue</&>:</p>
% unless ( $queues->Count ) {
<em><&|/l&>No queues matching search criteria found.</&></em>
% } else {
<& /Elements/CollectionList,
    OrderBy => ['SortOrder','Name'],
    Order => ['ASC','ASC'],
    Rows  => $Rows,
    %ARGS,
    Format => $Format,
    Collection => $queues,
    AllowSorting => 1,
    PassArguments => [qw(
        Format Rows Page Order OrderBy
        FindDisabledQueues QueueString QueueOp QueueField
    )],
&>
% }

<%INIT>
my $queues = RT::Queues->new($session{'CurrentUser'});
$queues->FindAllRows if $FindDisabledQueues;

my ($caption);
if ( defined $QueueString && length $QueueString ) {
    $caption = $FindDisabledQueues
        ? loc("All queues matching search criteria")
        : loc("Enabled queues matching search criteria");
    $queues->Limit(
        FIELD    => $QueueField,
        OPERATOR => $QueueOp,
        VALUE    => $QueueString,
        CASESENSITIVE => 0
    );
    RT::Interface::Web::Redirect(RT->Config->Get('WebURL')."Admin/Queues/Modify.html?id=".$queues->First->id)
          if $queues->Count == 1;
} else {
    $queues->UnLimit;
    $caption = $FindDisabledQueues
        ? loc("All Queues")
        : loc("Enabled Queues");
}

$Format ||= RT->Config->Get('AdminSearchResultFormat')->{'Queues'};
my $Rows = RT->Config->Get('AdminSearchResultRows')->{'Queues'} || 50;

</%INIT>
<%ARGS>
$FindDisabledQueues => 0
$Format             => undef

$QueueField         => 'Name'
$QueueOp            => 'LIKE'
$QueueString        => ''
</%ARGS>
