%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => $title &>
<& /Elements/Tabs &>
<& /Elements/ListActions, actions => \@results &>



<form action="<%RT->Config->Get('WebPath')%>/Admin/Queues/Modify.html" name="ModifyQueue" method="post" enctype="multipart/form-data">
<input type="hidden" class="hidden" name="id" value="<% $Create? 'new': $QueueObj->Id %>" />
% $m->callback( CallbackName => 'FormStart', Create => $Create, ARGSRef => \%ARGS );
<table>
<tr><td align="right"><&|/l&>Queue Name</&>:</td><td colspan="3">
% if ($InternalQueue) {
<% $QueueObj->Name %>
% } else {
<input name="Name" value="<% $Create ? "" : $QueueObj->Name || $Name %>" />
% }
</td></tr>

<tr><td align="right"><&|/l&>Description</&>:</td>
<td colspan="3"><input name="Description" value="<% $Create ? "" : $QueueObj->Description || $Description || '' %>" size="60" /></td>
</tr>

<tr><td align="right"><&|/l&>Lifecycle</&>:</td><td colspan="3">
% if ($InternalQueue) {
<% $QueueObj->Lifecycle %>
% } else {
<& /Widgets/Form/Select:InputOnly,
    Name         => 'Lifecycle',
    Values       => [ sort { loc($a) cmp loc($b) } RT::Lifecycle->List ],
    CurrentValue => $Create ? "default" : $QueueObj->Lifecycle || $ARGS{'Lifecycle'},
    Default      => 0,
&>
% }
</td></tr>

<tr><td align="right"><&|/l&>Subject Tag</&>:</td>
<td colspan="3"><input name="SubjectTag" value="<% $ARGS{'SubjectTag'} || ($Create ? "" : $QueueObj->SubjectTag || '' ) %>" size="60" /></td>
</tr>

<tr><td align="right"><&|/l&>Sort Order</&>:</td>
<td colspan="3"><input name="SortOrder" value="<% $Create ? 0 : $QueueObj->SortOrder || $SortOrder || 0 %>" size="60" /></td>
</tr>

<tr><td align="right"><&|/l&>Reply Address</&>:</td>
<td><input name="CorrespondAddress" value="<% $Create ? "" : $QueueObj->CorrespondAddress || $CorrespondAddress || '' %>" />
<br /><span><em><&|/l , RT->Config->Get('CorrespondAddress')&>(If left blank, will default to [_1])</&></em></span></td>
<td align="right"><&|/l&>Comment Address</&>:</td>
<td><input name="CommentAddress" value="<% $Create ? "" : $QueueObj->CommentAddress || $CommentAddress || '' %>" />
<br /><span><em><&|/l , RT->Config->Get('CommentAddress')&>(If left blank, will default to [_1])</&></em></span></td>
</tr>

<tr><td align="right"><input type="checkbox" class="checkbox" id="SLAEnabled" name="SLAEnabled" value="1" 
% if ( $QueueObj->id && !$QueueObj->SLADisabled ) {
checked="checked"
% }
 /></td>
<td colspan="3"><label for="SLAEnabled"><&|/l&>SLA Enabled (Unchecking this box disables SLA for this queue)</&></label><br />
<input type="hidden" class="hidden" name="SetSLAEnabled" value="1" />
</td></tr>

% my $CFs = $QueueObj->CustomFields;
% while (my $CF = $CFs->Next) {
<tr valign="top"><td align="right">
<% $CF->Name %>:
</td><td>
<& /Elements/EditCustomField, CustomField => $CF,
                              Object => $QueueObj, &>
</td></tr>
% }

% if ( RT->Config->Get('Crypt')->{'Enable'} ) {
<tr><td align="right"><input type="checkbox" class="checkbox" id="Sign" name="Sign" value="1" <% $QueueObj->Sign? 'checked="checked"': '' |n%> /></td>
<td><label for="Sign"><&|/l&>Sign by default</&></label></td>
<td align="right"><input type="checkbox" class="checkbox" id="Encrypt" name="Encrypt" value="1" <% $QueueObj->Encrypt? 'checked="checked"': '' |n%> /></td>
<td><label for="Encrypt"><&|/l&>Encrypt by default</&></label></td>
</tr>
<tr><td align="right"><input type="checkbox" class="checkbox" id="SignAuto" name="SignAuto" value="1" <% $QueueObj->SignAuto? 'checked="checked"': '' |n%> /></td>
<td colspan="3"><label for="SignAuto"><&|/l_unsafe, "<b>","</b>","<i>","</i>"&>Sign all auto-generated mail.  [_1]Caution[_2]: Enabling this option alters the signature from providing [_3]authentication[_4] to providing [_3]integrity[_4].</&></label></td></tr>
% }

% unless ($InternalQueue) {
<tr><td align="right"><input type="checkbox" class="checkbox" id="Enabled" name="Enabled" value="1" <%$EnabledChecked|n%> /></td>
<td colspan="3"><label for="Enabled"><&|/l&>Enabled (Unchecking this box disables this queue)</&></label><br />
<input type="hidden" class="hidden" name="SetEnabled" value="1" />
% $m->callback( %ARGS, QueueObj => $QueueObj, results => \@results );
</td></tr>
% }

% if ( RT->Config->Get('Crypt')->{'Enable'} ) {
<tr><td colspan="4">
<input type="hidden" class="hidden" name="SetCrypt" value="1" />
% if ( my $email = $QueueObj->CorrespondAddress || RT->Config->Get('CorrespondAddress') ) {
<& /Admin/Elements/ShowKeyInfo, Type => 'private', EmailAddress => $email &>
% } else {
<&|/Widgets/TitleBox, title => loc( 'Private keys') &>
<i><&|/l&>You have enabled encryption support but have not set a correspondence address for this queue.</&>
<&|/l&>You must set a correspondence address for this queue in order to configure a private key.</&></i>
</&>
% }
</td></tr>
<tr><td colspan="4">
% if ( my $email = $QueueObj->CommentAddress || RT->Config->Get('CommentAddress') ) {
<& /Admin/Elements/ShowKeyInfo, Type => 'private', EmailAddress => $email &>
% } else {
<&|/Widgets/TitleBox, title => loc( 'Private keys') &>
<i><&|/l&>You have enabled encryption support but have not set a comment address for this queue.</&>
<&|/l&>You must set a comment address for this queue in order to configure a private key.</&></i>
</&>
%}
</td></tr>
% }

</table>
% if ( $Create ) {
<& /Elements/Submit, Label => loc('Create') &>
% } else {
<& /Elements/Submit, Label => loc('Save Changes') &>
% }
</form>



<%INIT>
my ($title, @results, @no_redirect_results, $Disabled, $EnabledChecked);
my $QueueObj = RT::Queue->new( $session{'CurrentUser'} );
$QueueObj->Load( $id ) if !$id || $id eq 'new';

$EnabledChecked = 'checked="checked"';

unless ($Create) {
    if ( defined $id && $id eq 'new' ) {
        my ($val, $msg) = $QueueObj->Create( Name => $Name );
        if (!$val) {
            $Create = 1; # Create failed, so bring us back to step 1
        }
        push @results, $msg;
    } else {
        $QueueObj->Load($id) || $QueueObj->Load($Name) || Abort(loc("Couldn't load queue '[_1]'", $Name));
    }
}

if ( $QueueObj->Id ) {
    $title = loc('Configuration for queue [_1]', $QueueObj->Name );
    my @attribs= qw(Description CorrespondAddress CommentAddress Name SortOrder
        Sign SignAuto Encrypt Lifecycle SubjectTag SLADisabled Disabled);

    # we're asking about enabled on the web page but really care about disabled
    if ( $SetEnabled ) {
        $Disabled = $ARGS{'Disabled'} = $Enabled? 0: 1;
    }
    if ( $SetSLAEnabled ) {
        $ARGS{'SLADisabled'} = $SLAEnabled? 0: 1;
    }
    if ( $SetCrypt ) {
        $ARGS{$_} = 0 foreach grep !defined $ARGS{$_} || !length $ARGS{$_},
            qw(Sign SignAuto Encrypt);
    }

    $m->callback(
        CallbackName => 'BeforeUpdate',
        Queue => $QueueObj,
        AttributesRef => \@attribs,
        ARGSRef => \%ARGS,
    );

    push @results, UpdateRecordObject(
        AttributesRef => \@attribs,
        Object => $QueueObj,
        ARGSRef => \%ARGS
    );

    $Disabled = $ARGS{'Disabled'} = $Enabled? 0: 1;

    $EnabledChecked = "" if $QueueObj->Disabled;

    my @linkresults;
    $m->callback(
        results      => \@linkresults,
        RecordObj    => $QueueObj,
        ARGSRef      => \%ARGS, 
        CallbackName => 'ProcessLinks'
    );
    push @results, @linkresults;
    push @results, ProcessObjectCustomFieldUpdates( ARGSRef => \%ARGS, Object => $QueueObj );
    if ( RT->Config->Get('RTAddressRegexp') ) {
        foreach my $address ( $QueueObj->CorrespondAddress, $QueueObj->CommentAddress ) {
            next unless defined $address && length $address;
            next if RT::EmailParser->IsRTAddress( $address );
            push @no_redirect_results, loc("RTAddressRegexp option in the config doesn't match [_1]", $address );
        }
    }
    if ( !$QueueObj->SLADisabled && !( RT->Config->Get('ServiceAgreements') && keys %{RT->Config->Get('ServiceAgreements')}) ) {
        push @no_redirect_results, loc("You enabled [_1] but [_2] hasn't been configured in RT_SiteConfig.pm, please check '[_3]' for more help", 'SLA', '%ServiceAgreements', 'docs/customizing/sla.pod');
    }
} else {
    $title = loc("Create a queue");
}

my $InternalQueue = ($QueueObj->Id and $QueueObj->Disabled == 2);

# This code does automatic redirection if any updates happen.
MaybeRedirectForResults(
    Actions   => \@results,
    Arguments => { id => $QueueObj->Id },
) if $QueueObj->id;

push @results, @no_redirect_results;
</%INIT>


<%ARGS>
$id => undef
$result => undef
$Name => undef
$Create => undef
$Description => undef
$CorrespondAddress => undef
$CommentAddress => undef
$SetSLAEnabled => undef
$SetEnabled => undef
$SetCrypt => undef
$SLAEnabled => undef
$Enabled => undef
$SortOrder => undef
</%ARGS>
