%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => loc("Select a Class") &>
<& /Elements/Tabs &>

<h1><%$caption%>:</h1>
<p><&|/l&>Select a Class</&>:</p>
% unless ($Classes->Count) {
<em><&|/l&>No Classes matching search criteria found.</&></em>
% } else {
<& /Elements/CollectionList,
    OrderBy => 'Name',
    Order => 'ASC',
    Rows  => $Rows,
    %ARGS,
    Format => $Format,
    Collection => $Classes,
    AllowSorting => 1,
    PassArguments => [qw( Format Rows Page Order OrderBy FindDisabledClasses  )],
&>
% }

<form method="post" action="<% RT->Config->Get('WebPath') %>/Admin/Articles/Classes/index.html">
<input type="checkbox" id="FindDisabledClasses" name="FindDisabledClasses" value="1" />
<label for="FindDisabledClasses"><&|/l&>Include disabled classes in listing.</&></label><br />
<div align="right"><input type="submit" value="<&|/l&>Go!</&>" /></div> 
</form>
<%INIT>
my $caption;
my $Classes = RT::Classes->new($session{'CurrentUser'});

if ($FindDisabledClasses) {
    $caption = loc("All Classes");
    $Classes->{'find_disabled_rows'} = 1;
    $Classes->UnLimit();
} else {
    $caption = loc("Enabled Classes");
    $Classes->LimitToEnabled(); 

}

$Format ||= RT->Config->Get('AdminSearchResultFormat')->{'Classes'};
my $Rows = RT->Config->Get('AdminSearchResultRows')->{'Classes'} || 50;

</%INIT>
<%ARGS>
$FindDisabledClasses => 0
$Format => undef
</%ARGS>
