%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => $title &>
<& /Elements/Tabs &>
<& /Elements/ListActions, actions => \@results &>

<form name="ModifyClass" action="<% RT->Config->Get('WebPath') %>/Admin/Articles/Classes/Modify.html" method="post">
<input type="hidden" name="Submitted" value="1" />
%if ($Create ) {
<input type="hidden" name="id" value="new" />
% } else {
<input type="hidden" name="id" value="<%$ClassObj->Id%>" />
% }

<table>
<tr>
<td align="right"><&|/l&>Class Name</&>: </td>
<td><input name="Name" value="<% $ClassObj->Name || $Name || ''%>" /></td>
</tr>
<tr>
<td align="right"><&|/l&>Description</&>:</td>
<td><input name="Description" value="<% $ClassObj->Description || $Description || '' %>" size=60 /></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
    <input type="checkbox" id="Enabled" name="Enabled" value="1" <%$EnabledChecked%>>
    <label for="Enabled"><&|/l&>Enabled (Unchecking this box disables this class)</&></label>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
    <input type="checkbox" id="HotList" name="HotList" value="1" <%$HotListChecked%>>
    <label for="HotList"><&|/l&>All Articles in this class should be listed in a dropdown of the ticket reply page</&></label>
</td>
</tr>
</table>

<h3><&|/l&>When inserting articles in this class into emails:</&></h3>
<ul>
<li>
    <input type="checkbox" id="Include-LinkToTicket" name="Include-LinkToTicket" value="1" <% $include{LinkToTicket} %>
% if ( !RT->Config->Get('LinkArticlesOnInclude') ) {
      disabled="disabled"
% }
    >
    <label for="Include-LinkToTicket"><&|/l&>Link article to ticket</&></label>
</li>
<li>
    <input type="checkbox" id="Include-Name" name="Include-Name" value="1" <% $include{Name} %>>
    <label for="Include-Name"><&|/l&>Include article name</&></label>
</li>
<li>
    <input type="checkbox" id="Include-Summary" name="Include-Summary" value="1" <% $include{Summary} %>>
    <label for="Include-Summary"><&|/l&>Include article summary</&></label>
</li>
<li>
     <input type="checkbox" id="Include-EscapeHTML" name="Include-EscapeHTML" value="1" <% $include{EscapeHTML} %>>
     <label for="Include-EscapeHTML"><&|/l&>Escape HTML (Unchecking this box is potentially unsafe)</&></label>
</li>
% if ( $cfs ) {
% while (my $cf = $cfs->Next) {
<li><&|/l, $cf->Name &>Include custom field '[_1]'</&>
  <ul>
    <li>
        <input type="checkbox" id="Include-CF-Title-<% $cf->Id %>" name="Include-CF-Title-<% $cf->Id %>" <% $include{"CF-Title-".$cf->Id} %> />
        <label for="Include-CF-Title-<% $cf->Id %>"><&|/l&>Title</&></label>
    </li>
    <li>
        <input type="checkbox" id="Include-CF-Value-<% $cf->Id %>" name="Include-CF-Value-<% $cf->Id %>" <% $include{"CF-Value-".$cf->Id} %> />
        <label for="Include-CF-Value-<% $cf->Id %>"><&|/l&>Value</&></label>
    </li>
  </ul>
</li>
% } }
</ul>

% if ( @$subject_cfs ) {
<h3><&|/l&>Change email subject:</&></h3>
<p><&|/l&>If a Custom Field is selected, the Subject of your outgoing email will be overridden by this article.</&></p>

<& /Widgets/Form/Select,
    Name         => 'SubjectOverride',
    DefaultLabel => loc('No Subject Override'),
    Values       => $subject_cfs,
    ValuesLabel  => $subject_cf_labels,
    CurrentValue => $ClassObj->SubjectOverride,
&>
% }

%$m->callback( CallbackName => 'BeforeSubmit', CustomFields => $cfs, ClassObj => $ClassObj );

% if ( $Create ) {
<& /Elements/Submit, Label => loc('Create') &>
% } else {
<& /Elements/Submit, Label => loc('Save Changes') &>
% }
</form>

<%INIT>

my $ClassObj = RT::Class->new($session{'CurrentUser'});
my  ($title, @results, $Disabled);

if ($Create) {
    $title = loc("Create a Class");
} else {
    my ( $val, $msg );
    if ($id eq 'new') {
        ($val, $msg) = $ClassObj->Create(Name => $Name);
        if ( $val ) {
            push @results, $msg;
        }
        else {
            push @results, loc('Class could not be created: [_1]', $msg);
        }
    } else {
        $ClassObj->Load($id) || $ClassObj->Load($Name) || $m->comp("/Elements/Error", Why => "Couldn't load class '$Name'");
        $val = $ClassObj->id;
    }

    if ( $val ) {
        $title = loc('Modify the Class [_1]', $ClassObj->Name);
    }
    else {
        $title = loc("Create a Class");
        $Create = 1;
    }
}

if ($ClassObj->Id()) {

    if ($ARGS{SubjectOverride}) {
        $ARGS{SubjectOverride} = $m->comp('/Widgets/Form/Select:Process',
            Arguments => \%ARGS,
            Name      => 'SubjectOverride',
            DefaultValue => (''),
        );
    }

    $ARGS{HotList} ||= 0 if $Submitted;
    my @attribs= qw(Description Name HotList SubjectOverride);
    $m->callback( CallbackName => 'AttributeList', Attributes => \@attribs, ARGSRef => \%ARGS );
    push @results, UpdateRecordObject( AttributesRef => \@attribs,
                                       Object => $ClassObj,
                                       ARGSRef => \%ARGS);
}

#we're asking about enabled on the web page but really care about disabled.
if ((defined $Enabled && $Enabled == 1) or (not defined $Enabled and $Create)) {
    $Disabled = 0;
} else {
    $Disabled = 1;
}

my %include = (Name => 1, Summary => 1, EscapeHTML => 1);
$include{LinkToTicket} = 1 if RT->Config->Get('LinkArticlesOnInclude');

my $subject_cfs = [];
my $subject_cf_labels = {};

my $cfs;
if ( $ClassObj->id ) {
    $cfs = $ClassObj->ArticleCustomFields;
    while ( my $cf = $cfs->Next ) {
        $include{"CF-Title-".$cf->Id} = $include{"CF-Value-".$cf->Id} = 1;
        push @$subject_cfs,$cf->Id;
        $subject_cf_labels->{$cf->Id} = $cf->Name;
    }
}

if  ( $ClassObj->id && $Submitted ) {
    if ( $Disabled != $ClassObj->Disabled) {
        my  ($code, $msg) = $ClassObj->SetDisabled($Disabled);
        push @results, loc('Enabled status [_1]', loc_fuzzy($msg));
    }

    for (keys %include) {
        if ($ARGS{"Include-$_"}) {
            $ClassObj->DeleteAttribute("Skip-$_");
        } else {
            $ClassObj->SetAttribute(Name => "Skip-$_", Content => 1);
        }
    }
}

# This code does automatic redirection if any updates happen.
MaybeRedirectForResults(
    Actions     => \@results,
    Arguments   => { id => $ClassObj->Id },
) if $ClassObj->id;


if ( $ClassObj->id ) {
    $include{$_} = not $ClassObj->FirstAttribute("Skip-$_") for keys %include;
}

$include{$_} = $include{$_} ? " CHECKED" : "" for keys %include;

my $EnabledChecked = ($Create ? $Disabled : $ClassObj->Disabled()) ? "" : "CHECKED";
my $HotListChecked = $ClassObj->id && $ClassObj->HotList ? "CHECKED" : "";
</%INIT>


<%ARGS>
$id => undef
$result => undef
$Name => undef
$Create => undef
$Description => undef
$Submitted => undef
$Enabled => undef
</%ARGS>
