%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => $Title &>
<& /Elements/Tabs &>

% $m->callback(CallbackName => 'BeforeActionList', Actions => \@results, ARGSRef => \%ARGS, Ticket => $TicketObj);
<& /Elements/ListActions, actions => \@results &>

<form action="Forward.html" id="ForwardMessage" name="ForwardMessage" method="post">
% $m->callback( CallbackName => 'FormStart', ARGSRef => \%ARGS );
<input type="hidden" class="hidden" name="id" value="<% $id %>" /><br />
<input type="hidden" class="hidden" name="QuoteTransaction" value="<% $ARGS{'QuoteTransaction'} || '' %>" />

<& /Elements/Crypt/SignEncryptWidget:ShowIssues, self => $gnupg_widget, Queue => $TicketObj->QueueObj &>

<table border="0">
<tr><td align="right"><&|/l&>From</&>:</td>
<td><% $from %></td></tr>

<tr><td align="right"><&|/l&>Subject</&>:</td>
<td><input name="Subject" size="60" value="<% $ARGS{'Subject'} || $subject %>" /></td></tr>

<tr><td align="right"><&|/l&>To</&>:</td>
<td><& /Elements/EmailInput, Name => "To", AutocompleteMultiple => 1, Default => $ARGS{'To'} &></td></tr>

<tr><td align="right"><&|/l&>Cc</&>:</td>
<td><& /Elements/EmailInput, Name => "Cc", AutocompleteMultiple => 1, Default => $ARGS{'Cc'} &></td></tr>

<tr><td align="right"><&|/l&>Bcc</&>:</td>
<td><& /Elements/EmailInput, Name => "Bcc", AutocompleteMultiple => 1, Default => $ARGS{'Bcc'} &></td></tr>

% if ( $gnupg_widget ) {
<tr><td>&nbsp;</td><td>
<& /Elements/Crypt/SignEncryptWidget,
    self => $gnupg_widget,
    TicketObj => $TicketObj,
&>
</td></tr>
% }

<tr>
<td><&|/l&>Content</&>:</td>
<td>
% if (exists $ARGS{Content}) {
<& /Elements/MessageBox, Default => $ARGS{Content}, IncludeSignature => 0, SuppressAttachmentWarning => 1 &>
% } else {
<& /Elements/MessageBox, SuppressAttachmentWarning => 1 &>
%}
</td>
</tr>

% $m->callback(CallbackName => 'AfterMessageBox', ARGSRef => \%ARGS, TicketObj => $TicketObj);

</table>

<& /Ticket/Elements/ShowAttachments, Ticket => $TicketObj, Attachments => $attachments, Count => RT->Config->Get('AttachmentListCount') &>

<& /Elements/Submit, Label => loc('Forward Message and Return'), Name => 'ForwardAndReturn' &>
<& /Elements/Submit, Label => loc('Forward Message'), Name => 'Forward' &>
</form>
<%INIT>
my ($status, $msg);
my $checks_failure = 0;

my $TicketObj = LoadTicket($id);
$id = $ARGS{'id'} = $TicketObj->id;

$m->callback(CallbackName => 'Initial', ARGSRef => \%ARGS, TicketObj => $TicketObj);

my $gnupg_widget = $m->comp('/Elements/Crypt/SignEncryptWidget:new', Arguments => \%ARGS );
$m->comp( '/Elements/Crypt/SignEncryptWidget:Process',
    self => $gnupg_widget,
    TicketObj => $TicketObj,
);

Abort( loc("Permission Denied") )
    unless $TicketObj->CurrentUserHasRight('ForwardMessage');

my $txn;
if ( $QuoteTransaction ) {
    $txn = RT::Transaction->new( $session{'CurrentUser'} );
    $txn->Load( $QuoteTransaction );
    Abort( loc("Couldn't load transaction #[_1]", $QuoteTransaction) )
        unless $txn->id;
}

if ( $Forward || $ForwardAndReturn ) {
    $status = $m->comp('/Elements/Crypt/SignEncryptWidget:Check',
        self      => $gnupg_widget,
        TicketObj => $TicketObj,
        Operation => 'Forward',
    );
    $checks_failure = 1 unless $status;
}

my @results;
if ( !$checks_failure && ($Forward || $ForwardAndReturn) ) {
    ( $status, $msg ) = $TicketObj->Forward( Transaction => $txn, %ARGS );
    push @results, $msg;

    if ( $ForwardAndReturn ) {
        $session{'i'}++;
        my $key = Digest::MD5::md5_hex(rand(1024));
        push @{ $session{"Actions"}->{$key}  ||= [] }, @results;
        RT::Interface::Web::Redirect( RT->Config->Get('WebURL') ."Ticket/Display.html?id=". $id."&results=".$key);
    }
}

my $Title = $txn
    ? loc('Forward transaction #[_1]: [_2]', $txn->id, $TicketObj->Subject)
    : loc('Forward ticket #[_1]: [_2]', $TicketObj->id, $TicketObj->Subject);

my $from = RT::Interface::Email::GetForwardFrom(
    $txn ? ( Transaction => $txn ) : ( Ticket => $TicketObj ) );

my $subject = "Fwd: ".($txn || $TicketObj)->Subject;

my $attachments = RT::Interface::Email::GetForwardAttachments(
    Ticket => $TicketObj,
    $txn ? ( Transaction => $txn ) : (),
);

</%INIT>

<%ARGS>
$id => undef
$QuoteTransaction => undef
$ForwardAndReturn => 0,
$Forward          => $ForwardAndReturn,
</%ARGS>
