%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => loc("Modify people related to asset #[_1]: [_2]", $asset->id, $asset->Name) &>
<& /Elements/Tabs &>

% $m->callback(CallbackName => 'BeforeActionList', ARGSRef => \%ARGS, Asset => $asset, Actions => \@results);

<& /Elements/ListActions, actions => \@results &>

<span class="catalog <% CSSClass($asset->CatalogObj->Name) %>">
<form method="post" enctype="multipart/form-data" id="ModifyAssetPeople" action="ModifyPeople.html">
  <input type="hidden" name="id" value="<% $asset->id %>">

  <&| /Widgets/TitleBox, title => loc("People"), class => "asset-people", title_class => "inverse" &>
    <table width="100%" class="edit">
      <tr>
        <td width="30%"><& /Asset/Elements/EditCatalogPeople, %ARGS, Object => $asset &></td>
        <td width="30%"><& /Asset/Elements/AddCatalogPeople, Object => $asset &></td>
        <td>
          <& /Elements/EditCustomFields, Object => $asset, Grouping => 'People', AsTable => 1 &>
        </td>
      </tr>
    </table>
  </&>

  <& /Elements/Submit, Label => loc('Save'), Name => "Update" &>
</form>
</span>

<%init>
my $asset = LoadAsset($id);
my @results;

$m->callback( Asset => $asset, ARGSRef => \%ARGS, Update => \$Update, results => \@results );

if ($Update) {
    my $CFs = $asset->CustomFields;
    $CFs->LimitToGrouping($asset => "People");

    my ($cf_ok, @cf_errors) = $m->comp(
        '/Elements/ValidateCustomFields',
        Object          => $asset,
        CustomFields    => $CFs,
        ARGSRef         => \%ARGS
    );

    if ($cf_ok) {
        push @results, ProcessAssetRoleMembers( $asset => %ARGS );
        push @results, ProcessObjectCustomFieldUpdates( Object => $asset, ARGSRef => \%ARGS );

        MaybeRedirectForResults(
            Actions     => \@results,
            Arguments   => { id => $asset->id },
        );
    } else {
        push @results, @cf_errors;
    }
}

$m->callback(CallbackName => 'BeforeDisplay', ARGSRef => \%ARGS, Asset => $asset);
</%init>
<%args>
$id     => undef
$Update => 0
</%args>

