%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => $title &>
<& /Elements/Tabs &>

<&| /Widgets/TitleBox, title => loc('The Basics'), class => 'article-basics', &>
<table>
    <tr>
        <td class="label"><&|/l&>Summary</&>:</td>
        <td class="value"><%$article->Summary%></td>
    </tr>
    <tr>
        <td class="label"><&|/l&>Class</&>:</td>
        <td class="value"><%$article->ClassObj->Name%></td>
    </tr>
    <tr>
        <td class="label"><&|/l&>Creator</&>:</td>
        <td class="value"><& /Elements/ShowUser, User => $article->CreatorObj &></td>
    </tr>
    <tr>
        <td class="label"><&|/l&>Created</&>:</td>
        <td class="value"><%$article->CreatedObj->AsString%></td>
    </tr>
    <tr>
        <td class="label"><&|/l&>Updated</&>:</td>
        <td class="value"><%$article->LastUpdatedObj->AsString%></td>
    </tr>
</table>
</&>

% $m->callback( %ARGS, CallbackName => 'AfterBasics' );

<&| /Widgets/TitleBox, title => loc('Content'), class => 'article-content', &>
<& /Elements/ShowCustomFields, Object => $article &>
</&>

<&| /Widgets/TitleBox, title => loc('Links'), class => 'article-links', &>
<& Elements/ShowLinks, article => $article &>
</&>

<&| /Widgets/TitleBox, title => loc('Topics'), class => 'article-topics', &>
<& Elements/ShowTopics, article => $article &>
</&>
<%init>

my $article = RT::Article->new( $session{'CurrentUser'} );
if ($Name) {
    $article->LoadByCols( Name => $Name );
}
elsif ($id) {
    $article->Load($id);
}
unless ( $article->Id ) {
    if ( $ARGS{'Name'} ) {
        $m->comp( 'Edit.html', %ARGS );
        return ();
    }
    else {
        $m->comp( "/Elements/Error", Why => loc("Article not found") );
    }

}

unless ( $article->CurrentUserHasRight('ShowArticle') ) {
    $m->comp( "/Elements/Error", Why => loc("Permission Denied") );
}
my $title = loc( "Article #[_1]: [_2]", $article->Id, $article->Name || loc("(no name)"));

$id = $article->id;

</%init>
<%args>
$id => undef
$Name => undef
</%args>
