%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title => loc('Extract article from ticket #[_1] into class [_2]',$Ticket, $ClassObj->Name) &> 
<& /Elements/Tabs &>
<form action="Edit.html" method="post">
<input type="hidden" name="Class" value="<%$ARGS{'Class'}%>" />
<input type="hidden" name="Summary" value="<%$ticket->Subject%>" />
% for (@Topics) {
<input type="hidden" name="Topics" value="<% $_ %>" />
% }
<input type="hidden" name="new-RefersTo" value="t:<% $ticket->id%>" />
<table width="100%" valign="top" border=0 cellspacing=0>
<p><&|/l&>Use the dropdown menus to select which ticket updates you want to extract into a new article.</&>
<&|/l&>You can insert ticket content into any freeform, text or wiki field.</&>
</p>
<tr>
<th><&|/l&>Field</&></th>
<th><&|/l&>Ticket update</&></th>
</tr>
% my $i;
% while ( my $trans = $transactions->Next ) { 
% next unless $trans->HasContent && $trans->Content;
<tr class="<% ($i++)%2 ? 'oddline' : 'evenline'%>" >                                
<td valign="top">
<select name="Transaction-<%$trans->Id%>">
<option value="">-</option>
% while (my $cf = $CustomFields->Next) {
<option value="<%$cf->Id%>"><%$cf->Name%></option>
% }
</select>
</td>
<td><b><%$trans->CreatedObj->AsString%>: <%$trans->Description%></b><br />
<pre><%$trans->Content%></pre>
</td>
</tr>
% } 
</table>
<& /Elements/Submit, Label => loc('Create'), color => "#993333" &>
</form>
<%INIT>

my $ticket=LoadTicket($Ticket);
my $transactions = $ticket->Transactions;

my $ClassObj = RT::Class->new($session{'CurrentUser'});
$ClassObj->Load($Class);
unless ($ClassObj->Id) {
    $m->comp("/Elements/Error", Why => loc("'[_1]' isn't a valid class identifier", $Class));
}
my     $CustomFields = $ClassObj->ArticleCustomFields();

$CustomFields->Limit(FIELD => 'Type', OPERATOR => '=', VALUE => 'Text');
$CustomFields->Limit(FIELD => 'Type', OPERATOR => '=', VALUE => 'Wikitext');
$CustomFields->Limit(FIELD => 'Type', OPERATOR => '=', VALUE => 'Freeform');
</%init>
<%ARGS>
$Class => undef
$Ticket => undef
@Topics => ()
</%ARGS>
