%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => loc('Select a Scrip') &>
<& /Elements/Tabs &>

<h1><%$caption%></h1>

<form method="post" action="<% RT->Config->Get('WebPath') %>/Admin/Scrips/index.html">
<input type="checkbox" class="checkbox" id="FindDisabledScrips" name="FindDisabledScrips" value="1" <% $FindDisabledScrips ? 'checked="checked"': '' |n%> />
<label for="FindDisabledScrips"><&|/l&>Include disabled scrips in listing.</&></label>
<div align="right"><input type="submit" class="button" value="<&|/l&>Go!</&>" /></div>
</form>

<& /Elements/CollectionList,
    OrderBy       => 'Description',
    Order         => 'ASC',
    Rows          => $Rows,
    %ARGS,
    Collection    => $scrips,
    Format        => $Format,
    AllowSorting  => 1,
    PassArguments => [qw(
       FindDisabledScrips
       Page
       Order
       OrderBy
    )],
&>


<%INIT>
my $scrips = RT::Scrips->new( $session{'CurrentUser'} );
$scrips->FindAllRows if $FindDisabledScrips;
$scrips->UnLimit;

my ($caption);
$caption = $FindDisabledScrips 
  ? loc("All Scrips")
  : loc("Enabled Scrips");

$m->callback(CallbackName => 'Massage', Scrips => $scrips);

$Format ||= RT->Config->Get('AdminSearchResultFormat')->{'Scrips'};
my $Rows = RT->Config->Get('AdminSearchResultRows')->{'Scrips'} || 50;
</%INIT>

<%ARGS>
$FindDisabledScrips => 0
$Format => undef
</%ARGS>


