%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => $title &>
<& /Elements/Tabs &>
<& /Elements/ListActions &>

<form action="Objects.html" method="post" name="AddRemoveScrip">
<input type="hidden" class="hidden" name="id" value="<% $id %>" />
<input type="hidden" class="hidden" name="From" value="<% $From || q{} %>" />

% if ( $global ) {
<h2><&|/l&>Applies to all objects</&></h2>
<label>
<input type="checkbox" name="RemoveScrip-<% $id %>" value="0" />
<&|/l&>check this box to remove this scrip from all objects and be able to choose specific objects.</&>
</label>

<& /Admin/Elements/SelectStageForAdded,
    Default => $Stage || $global->Stage,
    Label   => loc("Select global scrip stage:")
    &>
% } else {
<h2><&|/l&>Apply globally</&></h2>

<label>
<input type="checkbox" name="AddScrip-<% $id %>" value="0" />
<&|/l&>check this box to apply this scrip to all objects.</&>
</label>

<h2><&|/l&>Selected objects</&></h2>
<& /Elements/CollectionList,
    OrderBy => ['SortOrder','Name'],
    Order   => ['ASC', 'ASC'],
    %ARGS,
    Collection => $added,
    Rows => 0,
    Page => 1,
    Format        => $format,
    DisplayFormat => "'__CheckBox.{RemoveScrip-$id}__','__ScripStage.{$id}__',". $format,
    AllowSorting => 0,
    ShowEmpty    => 0,
    PassArguments => [
        qw(id Stage Format Rows Page Order OrderBy),
    ],
&>

<h2><&|/l&>Unselected objects</&></h2>
<& /Elements/CollectionList,
    OrderBy => ['SortOrder','Name'],
    Order   => ['ASC', 'ASC'],
    %ARGS,
    Collection    => $not_added,
    Rows          => $rows,
    Format        => $format,
    DisplayFormat => "'__CheckBox.{AddScrip-". $id ."}__',". $format,
    AllowSorting  => 1,
    ShowEmpty     => 0,
    PassArguments => [
        qw(id Stage Format Rows Page Order OrderBy),
    ],
&>

<& /Admin/Elements/SelectStageForAdded, Default => $Stage &>
<div style="text-align:right">
<% loc('You can change template if needed') %>:
<& Elements/SelectTemplate, Scrip => $scrip, Default => $Template &>
</div>

% }

<& /Elements/Submit, Name => 'Update' &>
</form>

<%ARGS>
$id => undef
$Stage => undef
$Template => ''
$Update => 0
$From   => undef
</%ARGS>
<%INIT>
my $scrip = RT::Scrip->new( $session{'CurrentUser'} );
$scrip->Load($id) or Abort(loc("Could not load scrip #[_1]", $id));
$id = $scrip->id;

my $global = $scrip->IsGlobal;

if ( $Update ) {
    my (@results);
    if ( $Template ) {
        my ($status, $msg) = $scrip->SetTemplate( $Template );
        push @results, loc('Template: [_1]', $msg);
    }
    if ( defined (my $del = $ARGS{"RemoveScrip-$id"}) ) {
        foreach my $id ( ref $del? (@$del) : ($del) ) {
            my ($status, $msg) = $scrip->RemoveFromObject( $id );
            push @results, $msg;
        }
    }
    if ( defined (my $add = $ARGS{"AddScrip-$id"}) ) {
        foreach my $id ( ref $add? (@$add) : ($add) ) {
            my ($status, $msg) = $scrip->AddToObject( $id, Stage => $Stage );
            push @results, $msg;
        }
    }
    if ($global and $global->Stage ne $Stage) {
        my ($status, $msg) = $global->SetStage($Stage);
        push @results, $msg;
    }
    MaybeRedirectForResults(
        Actions   => \@results,
        Arguments => {
            id => $id,
            From => $From,
        },
    );
}

my $added = $scrip->AddedTo;
my $not_added = $scrip->NotAddedTo;

my $format = RT->Config->Get('AdminSearchResultFormat')->{'Queues'};
my $rows = RT->Config->Get('AdminSearchResultRows')->{'Queues'} || 50;

my $title = loc('Modify associated objects for scrip #[_1]', $id);

</%INIT>
