%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<&| Elements/Wrapper, Title => loc('Step [_1] of [_2]', 3, 7) .': '. loc('Customize Basics') &> 

<& Elements/Errors, Errors => \@errors &>

<p>
<&|/l&>These configuration options cover some of the basics needed to get RT up and running.  We need to know the name of your RT installation and the domain name where RT will live.  You will also need to set a password for your default administrative user.</&>
</p>

<form method="post">
<& /Widgets/BulkEdit, Types => \@Types,Meta => $RT::Installer->{Meta},
    CurrentValue => RT::Installer->CurrentValues(@Types) &>

<input type="hidden" name="Run" value="1">
<& /Elements/Submit,
    Label => loc('Next') .': '. loc('Customize Email Configuration'),
    Back => 1, BackLabel => loc('Back') .': '. loc('Check Database Credentials'),
&>
</form>
</&>


<%init>
my @errors;

my @Types = qw/rtname WebDomain WebPort Password/;

if ( $Run ) {

    $m->comp('/Widgets/BulkProcess', Types => \@Types, Arguments => \%ARGS,
            Store => $RT::Installer->{InstallConfig},
            Meta => $RT::Installer->{Meta} );
    
    if ( $ARGS{WebPort} && $ARGS{WebPort} !~ /^\d+$/ ) {
        push @errors, loc("Invalid [_1]: it should be a number", 'WebPort');
    }

    if ( !$ARGS{Password} ) {
        push @errors, loc("You must enter an Administrative password");
    }
    else {
        my $dummy_user = RT::User->new($session{CurrentUser});
        my ($ok, $msg) = $dummy_user->ValidatePassword($ARGS{Password});
        unless ($ok) {
            push @errors, $msg;
        }
    }

    if ( $Back ) {
        RT::Interface::Web::Redirect(RT->Config->Get('WebURL') .
'Install/DatabaseDetails.html');
    }

    unless ( @errors ) {
        RT::Interface::Web::Redirect(RT->Config->Get('WebURL') .
'Install/Sendmail.html');
    }
}

</%init>

<%args>
$Run => undef
$Back => undef
</%args>
