%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<&| Elements/Wrapper, Title => loc('Welcome to RT!') &>

<& Elements/Errors, Errors => \@errors &>

% return if $locked;

<form method="post">

<h1><% loc('Language') %></h1>

<div class="select-lang">
<&|/l&>Select another language</&>:
<& /Elements/SelectLang,
    Name => 'Lang',
    Default => $lang_handle? $lang_handle->language_tag : undef,
&>
<input type="submit" class="button" name="ChangeLang" value="<% loc('Change') %>" />
</div>

<h1><% loc('What is RT?') %></h1>

<div class="intro">
<p>
<&|/l&>RT is an enterprise-grade issue tracking system designed to let you intelligently and efficiently manage tasks, issues, requests, defects or anything else that looks like an "action item."</&>
</p>
<p>
<&|/l&>RT is used by Fortune 100 companies, one-person businesses, government agencies, educational institutions, hospitals, nonprofits, NGOs, libraries, open source projects and all sorts of other organizations on all seven continents. (Yes, even Antarctica.)</&>
</p>
<h2><% loc('Getting started') %></h2>
<p>
<b>
<&|/l, loc("Let's go!") &>You're seeing this screen because you started up an RT server without a working database. Most likely, this is the first time you're running RT.  If you click "[_1]" below, RT will guide you through setting up your RT server and database.</&>
</b>
</p>
<p>
<&|/l&>If you already have a working RT server and database, you should take this opportunity to make sure that your database server is running and that the RT server can connect to it. Once you've done that, stop and start the RT server.</&>
</p>
</div>

<& /Elements/Submit, Label => loc( "Let's go!"), Name => 'Run' &>
</form>

</&>
<%init>
my @errors;
my $locked;

my $file = RT::Installer->ConfigFile;

if ( ! -e $file ) {
    # write a blank RT_SiteConfig.pm
    open( my $fh, '>', $file ) or die $!;
    close $fh;
}
elsif ( ! -w $file ) {
    $locked = 1;
}

if ( $locked ) {
    push @errors, loc("Config file [_1] is locked", $file);
}
elsif ( $Run ) {
    $RT::Installer->{InstallConfig} ||= {};
    for my $field  (
            qw/DatabaseType DatabaseName DatabaseHost DatabasePort
            DatabaseUser rtname
            Organization CommentAddress CorrespondAddress
            SendmailPath WebDomain WebPort/
    ) {
        $RT::Installer->{InstallConfig}{$field} ||= RT->Config->Get($field);
    }

    for my $field ( qw/OwnerEmail Password DatabasePassword DatabaseAdminPassword/ ) {
        # stuff we don't want to keep null
        $RT::Installer->{InstallConfig}{$field} = '';
    }

    RT::Interface::Web::Redirect(RT->Config->Get('WebURL') . 'Install/DatabaseType.html');
} elsif ( $ChangeLang && $Lang ) {
    # hackish, but works
    $session{'CurrentUser'} = RT::CurrentUser->new;
    $session{'CurrentUser'}->LanguageHandle( $Lang );
}
my $lang_handle = do { local $@;
    eval {
        ($session{'CurrentUser'} || RT::CurrentUser->new(RT->SystemUser->Id))
            ->LanguageHandle
    }
};
</%init>

<%args>
$Run => 0
$ChangeLang => undef
$Lang => undef
</%args>
