%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<&|Elements/Wrapper, Title => loc('Step [_1] of [_2]', 4, 7 ) .': '. loc('Customize Email Configuration') &> 

<& Elements/Errors, Errors => \@errors &>

<p>
<&|/l&>RT can communicate with your users about new tickets or new correspondence on tickets. Tell us where to find sendmail (or a sendmail compatible binary such as the one provided by postifx).  RT also needs to know who to notify when someone sends invalid email.  This must not be an address that feeds back into RT.</&>
</p>

<form method="post">
<& /Widgets/BulkEdit, Types => \@Types,Meta => $RT::Installer->{Meta},
    CurrentValue => RT::Installer->CurrentValues(@Types)
&>

<input type="hidden" name="Run" value="1">
<& /Elements/Submit,
    Label => loc('Next') .': '. loc('Customize Email Addresses'),
    Back => 1, BackLabel => loc('Back' ) .': '. loc('Customize Basics'),
&>
</form>
</&>
<%init>
my @errors;

my @Types = qw/SendmailPath OwnerEmail/;

if ( $Run ) {

    $m->comp('/Widgets/BulkProcess', Types => \@Types, Arguments => \%ARGS,
            Store => $RT::Installer->{InstallConfig},
            Meta => $RT::Installer->{Meta}, KeepUndef => 1);

    if ( $Back ) {
        RT::Interface::Web::Redirect(RT->Config->Get('WebURL') .
'Install/Basics.html');
    }


    unless ( -e $ARGS{SendmailPath} ) {
        push @errors, loc( "[_1] doesn't exist.", $ARGS{SendmailPath} );
    }

    if ( ! $ARGS{OwnerEmail} || $ARGS{OwnerEmail} !~ /.+@.+/ ) {
        push @errors,
            loc("Invalid [_1]: '[_2]' doesn't look like an email address",
            'Administrator Email', $ARGS{OwnerEmail} );
    }


    unless ( @errors ) {
        RT::Interface::Web::Redirect(RT->Config->Get('WebURL') .
'Install/Global.html');
    }
}

</%init>

<%args>
$Run => undef 
$Back => undef
</%args>
