%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Admin/Elements/Header, Title => $title &>
<& /Elements/Tabs &>

% my $tmp = RT::CustomField->new( $session{'CurrentUser'} );
<h1><% $Type ? loc("Custom Fields for [_1]", $Type) : loc('All Custom Fields') %></h1>

<form action="<%RT->Config->Get('WebPath')%>/Admin/CustomFields/index.html" method="get">
<&|/l&>Only show custom fields for:</&>
<select name="Type">
<option value="" <% !$Type && 'selected="selected"'%> ><% loc('(any)') %></option>
% for my $type ( $tmp->LookupTypes ) {
<option value="<% $type %>" <% $type eq $Type && 'selected="selected"'%> ><% $tmp->FriendlyLookupType( $type ) %></option>
% }
</select>
<br />
<input type="checkbox" class="checkbox" id="ShowDisabled" name="ShowDisabled" value="1" <% $ShowDisabled && 'checked="checked"' |n %> />
<label for="ShowDisabled"><&|/l&>Include disabled custom fields in listing.</&></label>
<br />

% $m->callback(CallbackName => 'BeforeSubmit');

<div align="right"><input type="submit" value="<% loc('Go!') %>" /></div>
</form>

<& /Elements/CollectionList,
    OrderBy       => 'LookupType|Name',
    Order         => 'ASC|ASC',
    Rows          => $Rows,
    %ARGS,
    Collection    => $CustomFields,
    Format        => $Format,
    DisplayFormat => ($Type? '' : '__FriendlyLookupType__,'). $Format,
    AllowSorting  => 1,
    PassArguments => [
        qw(Format Rows Page Order OrderBy),
        qw(Type ShowDisabled)
    ],
&>

<%args>
$Type => ''
$ShowDisabled => 0

$Format => undef
</%args>
<%INIT>
my $title = loc('Select a Custom Field');

my $CustomFields = RT::CustomFields->new($session{'CurrentUser'});
$CustomFields->UnLimit;
$CustomFields->FindAllRows if $ShowDisabled;
$CustomFields->LimitToLookupType( $Type ) if $Type;

$m->callback(CallbackName => 'MassageCustomFields', CustomFields => $CustomFields);

$Format ||= RT->Config->Get('AdminSearchResultFormat')->{'CustomFields'};
my $Rows = RT->Config->Get('AdminSearchResultRows')->{'CustomFields'} || 50;

</%INIT>
