%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2023 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /SelfService/Elements/Header, Title => loc('#[_1]: [_2]', $Ticket->id, $Ticket->Subject) &>

% $m->callback(CallbackName => 'BeforeActionList', %ARGS, Actions => \@results, ARGSRef => \%ARGS, Ticket => $Ticket );

<& /Elements/ListActions, actions => \@results &>
<& /Ticket/Elements/ShowUpdateStatus, Ticket => $Ticket &>

  <table width="100%" class="ticket-summary" >
      <tr>
        <td valign="top" width="50%" class="boxcontainer">
          <&| /Widgets/TitleBox, title => loc('The Basics'),
                class => 'ticket-info-basics',
                ($LinkBasicsTitle ? (title_href => $title_box_link) : ()),
                title_class=> 'inverse',
                color => "#993333" &>
                <& /Ticket/Elements/ShowBasics, Ticket => $Ticket, UngroupedCFs => 1 &>
          </&>

    <& /Elements/ShowCustomFieldCustomGroupings,
        Object       => $Ticket,
        title_href   => ($LinkBasicsTitle ? RT->Config->Get('WebPath')."/SelfService/Update.html" : "" ),
        Groupings    => [ grep {$_ !~ /^(Basics|Dates)$/} RT::CustomField->Groupings( "RT::Ticket" ) ],
        &>
</td>
        <td valign="top" width="50%" class="boxcontainer">
          <&| /Widgets/TitleBox, title => loc("Dates"),
                 class => 'ticket-info-dates',
                 title_class=> 'inverse',
                 color => "#663366" &>
          <& /Ticket/Elements/ShowDates, Ticket => $Ticket, UpdatedLink => 0 &>
          </&>
</td>
</tr>
</table>

<& /Ticket/Elements/ShowAssets, Ticket => $Ticket &>

% $m->callback(CallbackName => 'BeforeShowHistory', ARGSRef=> \%ARGS, Ticket => $Ticket );

<& /Elements/ShowHistory,
      Object => $Ticket,
      ShowHeaders => $ARGS{'ShowHeaders'},
      DownloadableHeaders => 0,
&>



<%INIT>

my ( $field, @results );

$m->callback( ARGSRef => \%ARGS, CallbackName => 'Initial' );

# Load the ticket
#If we get handed two ids, mason will make them an array. bleck.
# We want teh first one. Just because there's no other sensible way
# to deal
my @id = ( ref $id eq 'ARRAY' ) ? @{$id} : ($id);

my $Ticket = RT::Ticket->new( $session{'CurrentUser'} );

if ( ($id[0]||'') eq 'new' ) {

    my $Queue = RT::Queue->new( $session{'CurrentUser'} );
    Abort( loc('Queue not found') ) unless $Queue->Load( $ARGS{'Queue'} );

    Abort( loc('You have no permission to create tickets in that queue.') )
        unless $Queue->CurrentUserHasRight('CreateTicket');

    ( $Ticket, @results ) = CreateTicket( %ARGS );

    Abort( join("\n", @results ) ) unless $Ticket->id;

}
else {
    $Ticket = LoadTicket($ARGS{'id'});

    $Ticket->Atomic(sub{
        push @results, ProcessUpdateMessage(
            ARGSRef   => \%ARGS,
            TicketObj => $Ticket
        );

        my @cfupdates = ProcessObjectCustomFieldUpdates(Object => $Ticket, ARGSRef => \%ARGS);
        push (@results, @cfupdates);

        #Update the status
        if (    ( defined $ARGS{'Status'} )
            and $ARGS{'Status'}
            and ( $ARGS{'Status'} ne $Ticket->Status ) )
        {
            my ($code, $msg) = $Ticket->SetStatus( $ARGS{'Status'} );
            push @results, "$msg";
        }
    });

}

# This code does automatic redirection if any updates happen.

unless ( $Ticket->CurrentUserHasRight('ShowTicket') ) {
    Abort( loc("No permission to display that ticket") );
}

if ( $ARGS{'MarkAsSeen'} ) {
    $Ticket->SetAttribute(
        Name    => 'User-'. $Ticket->CurrentUser->id .'-SeenUpTo',
        Content => $Ticket->LastUpdated,
    );
    push @results, loc('Marked all messages as seen');
}

MaybeRedirectForResults(
    Actions   => \@results,
    Path      => '/SelfService/Display.html',
    Anchor    => $ARGS{'Anchor'},
    Arguments => { 'id' => $Ticket->id },
);

my $LinkBasicsTitle = $Ticket->CurrentUserHasRight('ModifyTicket')
                      || $Ticket->CurrentUserHasRight('ReplyToTicket');
my $title_box_link = RT->Config->Get('WebPath')."/SelfService/Update.html?id=".$Ticket->Id;
$m->callback(CallbackName => 'BeforeDisplay', Ticket => \$Ticket, ARGSRef => \%ARGS, title_box_link => \$title_box_link);
</%INIT>


<%ARGS>
$id => undef
</%ARGS>
